*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 10px;
  background-color: #3d087b;
}

.clock {
  background-image: url(clock.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 120px;
  width: 210px;
}

.outer {
  border: 2px solid #3d087b;
  background-color: #ffffff;
  color: #3d087b;
  width: 350px;
  height: 280px;
  border-radius: 8px;
}

.wakeupOuter {
  background-image: url(wakeup.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
  position: relative;
  top: 7%;
  left: 4%;
}

.wakeup {
  position: relative;
  top: -1%;
  left: 18%;
}

.lunchOuter {
  background-image: url(lunch_time.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
  position: relative;
  top: 5%;
  left: 4%;
}

.lunch {
  position: relative;
  top: -3%;
  left: 18%;
}

.napOuter {
  background-image: url(nap_time.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
  position: relative;
  top: 5%;
  left: 4%;
}

.nap {
  position: relative;
  top: -4%;
  left: 18%;
}

.nightOuter {
  background-image: url(moon.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  position: relative;
  top: 9%;
  left: 4%;
}

.night {
  position: relative;
  top: -1%;
  left: 18%;
}

.options {
  width: 110px;
  color: #3d087b;
}

.line {
  border-left: 2px solid black;
  height: 30px;
  position: relative;
  left: 7%;
  top: 3%;
  opacity: 0.3;
}

.gm {
  border: 2px solid#8A11BF;
  border-radius: 5px;
  color: #ffffff;
  background-color: #8e53f0;
  width: 300px;
  padding: 25px;
  position: absolute;
  top: 68%;
  font-weight: bolder;
}

.alarm {
  border: 2px solid#8A11BF;
  border-radius: 5px;
  width: 120px;
  text-align: center;
  position: absolute;
  top: 80%;
  padding: 10px;
  color: #ffffff;
  background-image: linear-gradient(90deg, #8e53f0, #fc5eff);
  font-size: 18px;
}

.alarm:hover {
  background-image: linear-gradient(90deg, #fc5eff, #8e53f0);
}

#parent1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid #8a11bf;
  border-radius: 4px;
  width: 200px;
  padding: 5px;
  color: #f25cfe;
  position: absolute;
  left: 10%;
  top: 80%;
  background-color: #8e53f0;
}

.boxparent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  left: 59%;
  top: 1%;
  height: 100%;
}
.box {
  border: 2px solid black;
  border-radius: 6px;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 9%;
  background-color: #8e53f0;
  opacity: 0.1;
}
.box1 {
  border: 2px solid black;
  border-radius: 6px;
  width: 400px;
  height: 100px;
  position: absolute;
  top: 7%;
  background-color: #ffffff;
  opacity: 0.3;
}
.box2 {
  border: 2px solid black;
  border-radius: 6px;
  width: 450px;
  height: 100px;
  position: absolute;
  top: 5%;
  background-color: #ffffff;
}

.classbox2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.b {
  border: 2px solid #f6e2ff;
  background-color: #f6e2ff;
  height: 60px;
  width: 50px;
  margin: 15px;
  display: flex;
  align-items: center;
  font-size: larger;
  border-radius: 3px;
  color: #8a11bf;
  text-align: center;
  font-weight: bolder;
}

.semi {
  font-size: x-large;
}

.AM {
  border: 2px solid #f6e2ff;
  background-color: #cb52f8;
  height: 60px;
  width: 50px;
  margin: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  border-radius: 3px;
  color: #8a11bf;
  color: #ffffff;
}

.T {
  color: #3d087b;
  font-weight: bolder;
}

.breakfast {
  border: 2px solid #ffffff;
  border-radius: 5px;
  padding: 30px;
  font-size: larger;
  width: 400px;
  text-align: center;
  position: absolute;
  top: 28%;
  left: 43%;
  background-color: #ffffff;
  color: #8e53f0;
  font-weight: bolder;
}

#morningimage {
  border: 2px solid rgba(0, 0, 0, 0);
  background-image: url(background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 455px;
  height: 300px;
  position: absolute;
  top: 45%;
  left: 43%;
}

#change1 {
  margin-top: 1%;
  margin-left: 27%;
}
#change2 {
  position: relative;
  top: -4%;
  margin-left: 31%;
}

#change3 {
  position: relative;
  top: -4%;
  margin-left: 34%;
}

#change4 {
  position: relative;
  top: -2%;
  margin-left: 31%;
}

/* Media queries */

/* Responsive queries */
@media only screen and (max-width: 856px) {
  .clock {
    position: relative;
    left: 0%;
  }

  .parent {
    position: absolute;
    top: 53%;
    left: 1%;
    width: 350px;
    height: 425px;
  }

  .boxparent {
    position: relative;
    top: 5%;
    left: -23%;
    /* width: 450px; */
  }

  .breakfast {
    left: 1%;
    top: 34%;
  }

  .GM {
    position: absolute;
    top: 93%;
    left: 44%;
    width: 300px;
  }

  .alarm {
    position: absolute;
    top: 105%;
    left: 44%;
  }

  #parent1 {
    position: absolute;
    top: 35%;
    left: 58%;
    width: 225px;
    padding: 10px;
  }

  #morningimage {
    width: 350px;
    height: 350px;
    position: absolute;
    top: 54%;
    left: 44%;
    background-size: contain;
  }

  #change1 {
    margin-left: 37%;
  }

  #change2 {
    margin-left: 37%;
    margin-top: 5%;
  }

  #change3 {
    margin-left: 37%;
    margin-top: 5%;
  }

  #change4 {
    margin-left: 37%;
    margin-top: 5%;
  }
}